body{
font-family: Roboto, Raleway;
}
.list{ list-style: none;

}
.link{ text-decoration: none;

}


/* -----------heder----------- */
.top-header{

}
.navigation{

}
.logo{ 
    font-size: 18px;
    line-height: 1,166;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;


}


.header-list{

}


.header-studio, .header-contacts, .header-portfolio{
    font-weight: 500;
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}


.header-address{
    font-weight: 400;
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.02em;
    color: #434455;

}
.mail-list{

}
.phon-list{

}
/* -----------section1----------- */
.hero{background: #2E2F42;

}
.hero-text{

    font-weight: 700;
    font-size: 56px;
    line-height: 1,071;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}


.hero-btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 1,54px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;}



/* ---------------------------------section1------------------------ */
.products-procesing{

}
.products-procesing-title{ 
    font-size: 20px;
    line-height: 1,2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}


.products-procesing-text{
    font-size: 16px;
    line-height: 1,5;
    /* or 150% */
    letter-spacing: 0.02em;
    color: #434455;
}


/* -----------section3----------- */
.projekt{

}
.projekt-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1,111111;
    letter-spacing: 0.02em;
    text-transform: capitalize

}
.projekt-list{

}
.projekt-foto{

}
/* -----------section4----------- */
.team{
    font-weight: 700;
    font-size: 36px;
    line-height: 1,1111111;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.team-item{

}
.team-foto{

}
.team-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1,2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.team-position{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
}
.team-foto{

}
/* -----------footer----------- */
.footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.02em;
}
/* ------------------ sektione1(portfolio) ------------- */
.filters{

}
.portrtfolio-list {

}
.filters-btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 1,5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

/* ------------------ sektione2 (portfolio) ------------- */
.sektion-btn{

}
.btn-list{

}
.img-btn{
    cursor: pointer
}
.sektion-btn-name-app{
    font-weight: 500;
    font-size: 20px;
    line-height: 1,2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.sektion-btn-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.02em;
    color: #434455;
}